.Container{
    width: 94%;
    height: 50rem;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(186, 194, 194);
    border-radius: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

.Main{
    display: flex;
    justify-content: left;
    margin-left: 3em;
    font-family:'Open Sans', sans-serif;
    font-size: 22px;
    color: rgb(202, 202, 202);
}